In [1]:
import pandas as pd

In [ ]:
# Customer Table
df_customer = pd.read_csv("D:/project/olst/olist_customers_dataset.csv",header=0)
df_customer = df_customer[['customer_id','customer_unique_id','customer_city','customer_state']]
pd.set_option('display.max_columns', None)
df_customer.head(3)

,customer_id,customer_unique_id,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP

In [30]:
#  Order Items
df_order_items = pd.read_csv("D:/project/olst/olist_order_items_dataset.csv")
pd.set_option('display.max_columns', None)
df_order_items = df_order_items.rename(columns={'shipping_limit_date':'seller_limit_date_to_ship_to_vendor'})
df_order_items.head(3)

,order_id,order_item_id,product_id,seller_id,seller_limit_date_to_ship_to_vendor,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [ ]:
# Orders
df_orders = pd.read_csv("D:/project/olst/olist_orders_dataset.csv")
pd.set_option('display.max_columns', None)
df_orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [15]:
# Payment
df_payment = pd.read_csv("D:/project/olst/olist_order_payments_dataset.csv")
pd.set_option('display.max_columns', None)
df_payment.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [ ]:
# Seller
df_sellers = pd.read_csv("D:/project/olst/olist_sellers_dataset.csv")
df_sellers_selected = df_sellers[['seller_id','seller_city','seller_state']]
pd.set_option('display.max_columns', None)
df_sellers_selected.head(3)

                          seller_id     seller_city seller_state
0  3442f8959a84dea7ee197c632cb2df15        campinas           SP
1  d1b65fc7debc3361ea86b5f14c68d2e2      mogi guacu           SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  rio de janeiro           RJ

In [ ]:
# Product
df_product = pd.read_csv("D:/project/olst/olist_products_dataset.csv")
df_product_selected = df_product[['product_id','product_category_name']]
pd.set_option('display.max_columns', None)
df_product_selected.head(3)

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes
2  96bd76ec8810374ed1b65e291975717f         esporte_lazer

In [ ]:
# Trans. English Product
df_product_trans = pd.read_csv("D:/project/olst/product_category_name_translation.csv")
pd.set_option('display.max_columns', None)
df_product_trans.head(3)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

In [ ]:
# <Product Table> + <Trans. to English> Join

df_join_product_with_trans = df_product_selected.join(df_product_trans.set_index('product_category_name'),on=['product_category_name'],how="left")
df_join_product_with_trans_selected = df_join_product_with_trans[['product_id','product_category_name_english']]
df_join_product_with_trans_selected = df_join_product_with_trans_selected.rename(columns={"product_category_name_english":'product_category_name'})
df_join_product_with_trans_selected.head(3)

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumery
1  3aa071139cb16b67ca9e5dea641aaa2f                   art
2  96bd76ec8810374ed1b65e291975717f        sports_leisure

In [ ]:
# <Order> + <Order Items>

df_order_join_order_items = df_orders.join(df_order_items.set_index('order_id'),on='order_id',how='left')
df_order_join_order_items.head(3)
# df_order_join_order_items = pd.merge(left=df_orders,right=df_order_items,suffixes=(''))

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,seller_limit_date_to_ship_to_vendor,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22

In [ ]:
# Order + Order Items + <Customer>

df_order_join_order_items_join_customer = df_order_join_order_items.\
    join(df_customer.set_index('customer_id'),on='customer_id',how='left')
df_order_join_order_items_join_customer.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,seller_limit_date_to_ship_to_vendor,price,freight_value,customer_unique_id,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76,af07308b275d755c9edb36a90c618231,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22,3a653a41f6f9fc3d2a113cf8398680e8,vianopolis,GO

In [ ]:
# Order + Order Items + Customer + <Payment>
df_order_join_items_join_customer_join_payment = df_order_join_order_items_join_customer.\
    join(df_payment.set_index('order_id'),on='order_id')
df_order_join_items_join_customer_join_payment.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,seller_limit_date_to_ship_to_vendor,price,freight_value,customer_unique_id,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,1.0,credit_card,1.0,18.12

In [ ]:
# Order + Items + Customer + Payment + <Product>
df_order_join_items_join_customer_join_payment_join_product = df_order_join_items_join_customer_join_payment.\
    join(df_join_product_with_trans_selected.\
         set_index('product_id'),on='product_id',how='left')
df_order_join_items_join_customer_join_payment_join_product.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,seller_limit_date_to_ship_to_vendor,price,freight_value,customer_unique_id,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,product_category_name
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,1.0,credit_card,1.0,18.12,housewares
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3.0,voucher,1.0,2.00,housewares
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,2.0,voucher,1.0,18.59,housewares

In [45]:
# All Files (Order+Items+Customer+Payment+Product+Seller)
df_all=df_order_join_items_join_customer_join_payment_join_product.\
    join(df_sellers_selected.set_index('seller_id'),on='seller_id',how='left')
df_all.index.name = 'index'
df_all.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,seller_limit_date_to_ship_to_vendor,price,freight_value,customer_unique_id,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,seller_city,seller_state
index,,,,,,,,,,,,,,,,,,,,,,,,
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,1.0,credit_card,1.0,18.12,housewares,maua,SP
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,3.0,voucher,1.0,2.00,housewares,maua,SP
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,2.0,voucher,1.0,18.59,housewares,maua,SP

In [46]:
df_all.to_csv('D:/project/olst/pandas transformation/Olist_joined_Table.csv')